:root {
    --blue-first-color: #3498DB;
    --blue-second-color: #34495E;
    --white-first-color: #ECF0F1;
    --white-second-color: #BDC3C7;
}

/********** header **********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--blue-first-color);
    border-bottom: 10px solid #2C3E50;
    padding: 10px 20px;
}

header #logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: var(--white-first-color);
    text-shadow: 5px 3px 0px var(--blue-second-color);
}

header nav ul a {
    display: inline-flex;
    align-items: center;
    font-family: 'Fira Code', Arial, monospace, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-first-color);
    text-decoration: none;
    margin-right: 30px;

    transition: opacity 300ms linear;
}

header nav ul a:hover {
    opacity: 0.7;
 }

header nav ul a::before{
    content: "";
    background-color: var(--white-second-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transition: background-color 300ms linear;
}

header nav ul a:hover:before {
    background-color: var(--blue-second-color);
}

header nav ul a#button {
    display: inline-block;
    background-color: var(--white-first-color);
    color: var(--blue-second-color);

    padding: 18px 20px;
    box-shadow: 5px 5px 0px var(--blue-second-color);
    transition: transform 150ms linear, opacity 150ms linear;
}

header nav ul a#button:hover {
    opacity: 0.8;
    transform: scale(1.04);
}

/********** HERO **********/

#hero-container {
    position: absolute;
    background-image: url("/assets/img/bg-hero.jpg");
    background-color: var(--white-second-color);
    background-repeat: no-repeat;
    background-position: right;
    height: 84vh;
    width: 100%;
    border-bottom: 10px solid var(--blue-second-color);
}

#hero {
    width: 700px;
    margin-top: 116px;
    margin-left: 91px;

}

#hero-card {
    width: 627px;
    padding: 40px 30px;
    background-color: var(--white-first-color);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 10px 10px 0px var(--blue-second-color);
}

#hero-title {
    font-size: 40px;
    margin-bottom: 30px;

}

#hero-subtitle {
    font-size: 30px;
    font-weight: 500;
    color: var(--blue-first-color);
    text-shadow: 4px 4px 0px var(--blue-second-color);
}

#hero-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}

#hero-buttons .btn {
    font-family: 'Fira Code', Arial, monospace, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    max-width: 132px;
    width: 100%;
    padding: 20px 18px;
    color: var(--white-first-color);
    background-color: var(--blue-first-color);
    box-shadow: 5px 5px 0px var(--blue-second-color);
    transition: transform 150ms linear, opacity 150ms linear;

}

#hero-buttons .btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}