.c-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    background-color: var(--red-first-color);

    border-bottom: 10px solid var(--white-first-color);

    .c-projects__title {
        font-size: 40px;
        font-family: "Press Start 2P", sans-serif;
        text-align: center;
        width: 100%;
        margin: 50px 0;
        color: var(--white-first-color);
    }

    .c-projects__project {
        width: 280px;
        height: 280px;
        margin: 60px 10px;
        box-shadow: 10px 10px 0px var(--white-first-color);
        text-align: center;

        .project__image {
            max-width: 200px;
            width: 100%;
        }

        .github {
            background-color: var(--blue-first-color);
        }

        .selfcare {
            background-color: var(--blue-first-color);
        }

        .test {
            background-color: var(--blue-first-color);
        }
    }
}