.c-about {
    background-color: var(--blue-first-color);
    border-bottom: 10px solid #000;
    padding: 50px 0;
    color: var(--white-first-color);
}

.c-about__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 118px;
}

.c-about__text {
    font-family: "Fira Code", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    text-align: justify;
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .c-about__text {
        font-size: 20px;
        width: 320px;
    }
}