.c-contact {
    background-color: var(--red-first-color);
    font-family: "Fira Code", sans-serif;
}

.c-contact__title {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: var(--white-first-color);
    padding: 50px 0;
}

.c-contact__form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

#contact label {
    color: var(--white-first-color);
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
}

.c-contact__form .form__input {
    height: 50px;
    margin-bottom: 20px;
    border: 4px solid #000;
}

.c-contact__form #msg {
    height: 318px;
    border: 4px solid #000;
}

.c-contact__form .form__button {
    height: 60px;
    font-size: 30px;
    font-weight: 300;
    color: var(--blue-second-color);
    margin-bottom: 100px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 0px #000;
}

@media (max-width: 768px) {
    .c-contact__form #msg {
        height: 220px;
    }
}