header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--blue-first-color);
    border-bottom: 10px solid #2C3E50;
    padding: 10px 20px;
}

header #logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: var(--white-first-color);
    text-shadow: 5px 3px 0px var(--blue-second-color);
}

header nav ul a {
    display: inline-flex;
    align-items: center;
    font-family: 'Fira Code', Arial, monospace, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-first-color);
    text-decoration: none;
    margin-right: 30px;

    transition: opacity 300ms linear;
}

header nav ul a:hover {
    opacity: 0.7;
 }

header nav ul a::before{
    content: "";
    background-color: var(--white-second-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transition: background-color 300ms linear;
}

header nav ul a:hover:before {
    background-color: var(--blue-second-color);
}

header nav ul a#button {
    display: inline-block;
    background-color: var(--white-first-color);
    color: var(--blue-second-color);

    padding: 18px 20px;
    box-shadow: 5px 5px 0px var(--blue-second-color);
    transition: transform 150ms linear, opacity 150ms linear;
}

header nav ul a#button:hover {
    opacity: 0.8;
    transform: scale(1.04);
}