#projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    background-color: #000;

    border-bottom: 10px solid var(--white-first-color);
}

#projects_title {
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    width: 100%;
    margin: 50px 0;
    color: var(--white-first-color);
}

.project {
    width: 280px;
    height: 280px;
    margin: 100px 10px;
    box-shadow: 10px 10px 0px var(--white-first-color);
}

.project.github {
    background-color: var(--blue-first-color);
}

.project.selfcare {
    background-color: var(--blue-second-color);
}