.c-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue-first-color);
    margin: 0 auto;
    padding-bottom: 195px;
    border-bottom: 10px solid var(--white-first-color);
}

.c-skills__title {
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    color: var(--white-first-color);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 95px;
}

.c-skills__box {
    width: 430px;
    margin: 38px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-skills__progress {
    margin-left: 30px;
}

.c-skills__progress .progress__title {
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    color: var(--white-first-color);
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .c-skills {
        flex-direction: column;
        padding-bottom: 100px;
    }

    .c-skills__box {
        width: 300px;
        margin: 38px auto;
    }

    .c-skills__box img {
        width: 60px;
    }

    .c-skills__box .progress__title {
        font-size: 18px;
    }

    .c-skills__box .progress__image {
        width: 100%;
    }
}